* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100vh;
}

.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    height: 100vh;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 15px 0;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* Main Content */
.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center; 
}

.header input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Admin Info */
.admin-info {
    position: relative; 
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.admin-info .arrow-down {
    margin-left: 5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
}

#dropdown-menu {
    position: absolute; 
    right: 0; 
    top: 100%; 
    width: 150px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 100;
    display: none; 
}

#dropdown-menu.hidden {
    display: none;
}

#dropdown-menu.show {
    display: block; 
}

/* Card trang dashboard */
.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    width: 250px;
    height: 120px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}

/* Bảng trang dashboard */
#dashboard-section table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

#dashboard-section th, #dashboard-section td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#dashboard-section th {
    background-color: #f4f4f4;
}
