<!-- Footer -->
<footer>
    <div class=" bg-black p-5">
        <div class="container d-flex flex-row gap-5 mt-5">
            <div class=" d-flex flex-column">
                <h3>VỀ BHD STAR</h3>
                <div class="line"></div>
                <a href="/pages/theater/">Hệ thống rạp</a>
                <p>Cụm rạp</p>
                <p>Liên hệ</p>
                <img style="width: 50%;" src="https://www.bhdstar.vn/wp-content/uploads/2023/08/image-21.png" alt="">
            </div>
            <div class=" d-flex flex-column">
                <h3>QUY ĐỊNH & ĐIỀU KHOẢN</h3>
                <div class="line"></div>
                <p>Quy định thành viên</p>
                <p>Điều khoản</p>
                <p>Hướng dẫn đặt vé trực tuyến</p>
                <p>Quy định và chính sách chung</p>
                <p>Chính sách bảo vệ thông tin cá nhân của người tiêu dùng</p>
            </div>
            <div class=" d-flex flex-column">
                <h3>CHĂM SÓC KHÁCH HÀNG</h3>
                <div class="line"></div>
                <p>Hotline: 19002099</p>
                <p>Giờ làm việc: 9:00 - 22:00 (Tất cả các ngày bao gồm cả Lễ, Tết)</p>
                <p>Email hỗ trợ: cskh@bhdstar.vn</p>
                <div class=" d-flex flex-row gap-2">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class=" container d-flex flex-row mt-5 gap-5 align-items-center">
        <img src="https://www.bhdstar.vn/wp-content/uploads/2023/08/logo.png" height="120" width="120" alt="">
        <div class=" d-flex flex-column">
            <p>Công ty TNHH MTV Ngôi Sao Cineplex BHD Việt Nam</p>
            <p>Giấy CNĐKDN: Giấy phép kinh doanh số: 0104597158. Đăng ký lần đầu ngày 15 tháng 04 năm 2010</p>
            <p>Địa Chỉ: Tầng 11, Tòa nhà Hồng Hà Building, Lý Thường Kiệt, P.Phan Chu Trinh, Quận Hoàn Kiếm, Hà Nội
            </p>
            <p>Hotline: 19002099</p>
            <p>COPYRIGHT 2010 BHD STAR. ALL RIGHTS RESERVED</p>
        </div>
    </div>
</footer>