<!-- content -->
<div class="container mt-5">
    <p class="title">Vé bán trước</p>
    <div class="swiper mySwiper">
        <div id="list-film-1" class="swiper-wrapper"></div>
        <div class="swiper-pagination mt-lg-5"></div>
    </div>
</div>
<div class="divider mt-5"></div>

<div class="container mt-5">
    <p class="title">Phim đang chiếu</p>
    <div class="swiper mySwiper">
        <div id="list-film-2" class="swiper-wrapper"></div>
        <div class="swiper-pagination mt-lg-5"></div>
    </div>
</div>
<div class="divider mt-5"></div>

<div class="container mt-5">
    <p class="title">Phim sắp chiếu</p>
    <div class="swiper mySwiper">
        <div id="list-film-3" class="swiper-wrapper"></div>
        <div class="swiper-pagination mt-lg-5"></div>
    </div>
</div>

<div class="mt-5 bg-black pb-5">
    <div id="member" class="container d-flex flex-column align-items-center">
        <img class="mt-5" src="https://www.bhdstar.vn/wp-content/uploads/2023/08/bhdstarmember.png" alt="">
        <div class="row mt-5">
            <div class="col">
                <img src="https://www.bhdstar.vn/wp-content/uploads/2023/08/image-16.png" alt="">
            </div>
            <div class="col">
                <img src="https://www.bhdstar.vn/wp-content/uploads/2023/08/image-17.png" alt="">
            </div>
            <div class="col">
                <img src="https://www.bhdstar.vn/wp-content/uploads/2023/08/image-18.png" alt="">
            </div>
        </div>
        <button id="sign-in" class="btn mt-2">ĐĂNG KÍ NGAY</button>
    </div>
</div>

<div class="container mt-5">
    <p class="title">Khuyến mãi</p>
    <div class="swiper mySwiper-v2">
        <div id="list-sale-1" class="swiper-wrapper"></div>
        <div class="swiper-pagination mt-lg-5"></div>
    </div>
</div>

<div class="container mt-5">
    <p class="title">Sự kiện</p>
    <div class="swiper mySwiper-v2">
        <div id="list-sale-2" class="swiper-wrapper"></div>
        <div class="swiper-pagination mt-lg-5"></div>
    </div>
</div>

<!-- Modal -->
<div id="list-modal"></div>

<script type="module" src="/public/js/home.js"></script>