<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="icon" type="image/x-icon" href='img/logo.jpg'>
    <link rel="stylesheet" href="/css/Register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div class="containter">
        <div class="register-box">
            <form id = "formRegister" action="/register">
                <div id ="formResgiter" class="container_form">
                    <div class="container_group">
                        <h3>ĐĂNG KÍ TÀI KHOẢN</h3>
                        <input type="text" class="container_input" id ="userName" placeholder="Nhập tên của bạn" required>
                    </div>
                    <div class="container_group">
                        <input type="email" class="container_input" id = "email" placeholder="Nhâp email của bạn" required>
                    </div>
                    <div class="container_group">
                        <input type="text" class="container_input" id = "contact" placeholder="Nhâp số điện thoại" required>
                    </div>
                    <div class="container_group">
                        <input type="password" class="container_input" id = "password" placeholder="Nhâp mật khẩu của bạn" required>
                    </div>
                    <div class="container_group">
                        <input type="password" class="container_input" id = "rePassword" placeholder="Xác nhận mật khẩu " required><br><br>
                    </div>
                </div>
                <input type="checkbox" id="showPassword" class="show-password" onclick="togglePasswords()"> Hiển thị mật khẩu<br><br>
                <div class="container_aside">
                    <p class="container_policy-text">
                        Với việc bấm nút đăng ký, bạn đã đồng ý với chúng tôi về các 
                        <a href="" class="container_text-link">Điều khoản dịch vụ</a> & <a href="" class="container_text-link">Chính sách bảo mật</a>
                    </p>
                </div>
                <div class="container_controls">
                    <button class="btn container_controls-back">
                        <a href="http://127.0.0.1:3000/code_btl/index.html">Quay lại</a>
                    </button>
                    <button type ="submit" class="btn btn--primary">Đăng ký</button>
                </div>
                <div class="container__socials">
                <a href="" class="container__socials-facebook btn btn--size-s btn--with-icon">
                    <i class="container__socials-icon fab fa-facebook-square"></i>
                    <span class="container__socials-title">
                        Đăng ký bằng Facebook
                    </span>
                </a>
                <a href="" class="container__socials-google btn btn--size-s btn--with-icon">
                    <i class="container__socials-icon fab fa-google"></i>
                    <span class="container__socials-title">
                        Đăng ký bằng Google
                    </span>
                </a>
                </div>
            </form>
        </div>
    </div>
    <script src="Register.js"></script>
</body>    
</html>