    <div class=" container"></div>
        <h3 style="width: 100%;" class="text-center mt-5">Hệ thống rạp</h3>
        <div id="list-theater" class="row"></div>
    </div>
    <script type="module" src="/public/js/theater.js"></script>