<div class="container mt-5"></div>
        <p class="title">Khuyến mãi</p>
        <div class="swiper mySwiper-v2">
            <div id="list-sale-1" class="swiper-wrapper"></div>
            <div class="swiper-pagination mt-lg-5"></div>
        </div>
    
    </div>
    
    <div class="container mt-5">
        <p class="title">Sự kiện</p>
        <div class="swiper mySwiper-v2">
            <div id="list-sale-2" class="swiper-wrapper"></div>
            <div class="swiper-pagination mt-lg-5"></div>
        </div>
    </div>
    <script type="module" src="/public/js/voucher.js"></script>